<style>
  div.option {
      font-size: 1.5em;
      padding-left: 10px;
      padding-top: 5px;
  }
  th{
      background-color: silver;
      height: 20px;
      font-size: 1.1em;
      padding: 5px;
  }
  div.heading{
      background-color: lightgrey;
      font-size: 1.5em;
      padding: 10px;
  }
  tr:nth-child(even) {background: lightskyblue}
  tr:nth-child(odd) {background: #ffffff}
</style>
<script type="text/javascript">
  <!--
    function selected(option)
    {
        options = document.getElementsByClassName("option")

        for(i = 0; i < options.length; i ++)
        {
           options[i].style.backgroundColor = "white";
           options[i].setAttribute("selected", false)
        }

        option.style.backgroundColor = "skyblue";
        option.setAttribute("selected", true);
    }

    function nextPage()
    {
        options = document.getElementsByClassName("option")

        for(i = 0; i < options.length; i ++)
        {
            if (options[i].getAttribute("selected") == true)
            {

            }

        }

        showMessage("Please select ")
    }

  //-->
</script>
<div class="table" style="width: 100%;">
  <div class="row"  style="">
    <div class="cell">
      <div style="width: 96vw;margin-bottom: 5px;margin-top: 5px; padding: 10px;font-size: 130%; font-weight: bold;">
        BP Management Screen
      </div>
      <div style="border:1px solid #000000; width: 96vw;margin-bottom: 5px;margin-top: 2px; margin-left: auto;margin-right: auto;padding: 10px;height: 43vh;overflow:auto;">
        <span style="font-weight: bold; font-size: 110%;">BP Trail</span>
        <table style="width: 100%; margin-left: auto;margin-right: auto;">
          <thead>
          <tr>
            <th>Date</th>
            <th>Systolic</th>
            <th>Diastolic</th>
            <th>BP Drugs</th>
            <th>Plan</th>
          </tr>
          </thead>
          <tbody>
          <% (0..5).each do  |x|  %>
              <tr>
                <td><%= Date.today %></td>
                <td> 175 </td>
                <td> 78 </td>
                <td> HCZ </td>
                <td> Continue </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="row" >
    <div class="cell" >
      <div style="border:1px solid #000000; width: 97vw;margin-bottom: 5px;margin-top: 5px; margin-left: auto;margin-right: auto;height: 25vh;overflow:auto;">
        <div class="heading">
          Select Action
        </div>

          <div class="table" style="width: 100%;">
            <div class="row">
              <div class="cell"><div class="option" onclick="selected(this)">Lifestyle Advice given</div></div>
              <div class="cell"><div class="option" onclick="selected(this)">Not yet stable on ART</div></div>
            </div>
            <div class="row">
              <div class="cell"><div class="option" onclick="selected(this)">Patient Declining BP drugs</div></div>
              <div class="cell"><div class="option" onclick="selected(this)">Did not take prescribed BP drugs today</div></div>
            </div>
            <div class="row">
              <div class="cell"><div class="option" onclick="selected(this)">Pregnant</div></div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

<div id="buttons" class="buttonsDiv">
  <button id="nextButton" class="button green navButton" onmousedown="nextPage()"><span>Next</span></button>
  <button id="nextButton" class="button blue navButton" onmousedown="window.location='/htn_encounter/bp_drug_management?patient_id=<%= @patient.id%>'"><span>Review BP Drugs</span></button>
</div>
  