<form action="/htn_encounter/create/">
  <%= hidden_field_tag "encounter[encounter_type_name]", "GENERAL HEALTH" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]",  User.current.user_id %>


</form>