## YAML Template.
---
production:
  project.name: Chronic Care Clinic
  facility.name: Baobab Test Centre
  facility.district: Lilongwe City
  facility.zone.name: Baobab Test Centre
  patient.registration.url: http://192.168.100.110:3005
  user.management.url: http://localhost:3004
  use_drug_barcodes_only: true
  logo: mw.gif
  prescription.print: true

development:
  project.name: Chronic Care Clinic
  facility.name: Baobab Test Centre
  facility.district: Lilongwe City
  facility.zone.name: Baobab Test Centre
  patient.registration.url: http://192.168.100.110:3005
  user.management.url: http://localhost:3004
  use_drug_barcodes_only: true
  logo: mw.gif
  prescription.print: true

test: &TEST
  project.name: Chronic Care Clinic
  facility.name: Baobab Test Centre
  facility.district: Lilongwe City
  facility.zone.name: Baobab Test Centre
  patient.registration.url: http://192.168.100.110:3005
  user.management.url: http://localhost:3004
  use_drug_barcodes_only: true
  logo: mw.gif
  prescription.print: true
