
production:
  clinical.encounters.sequential.list: COMPLICATIONS,HIV STATUS,LAB RESULTS,OUTCOMES,TREATMENT,VITALS,CLINIC VISIT,SOCIAL HISTORY,GENERAL HEALTH,ASSESSMENT,MEDICAL HISTORY,FAMILY HISTORY
  clinical.encounters.display.list: COMPLICATIONS;HIV STATUS;LAB RESULTS;OUTCOMES;TREATMENT;VITALS;CLINIC VISIT;SOCIAL HISTORY;GENERAL HEALTH;ASSESSMENT;MEDICAL HISTORY:ASTHMA MEASURE:FAMILY HISTORY
  scope: VITALS|,LAB RESULTS|,TREATMENT|,COMPLICATIONS|,OUTCOMES|,HIV STATUS|,CLINIC VISIT|,SOCIAL HISTORY|,GENERAL HEALTH|,ASSESSMENT|,MEDICAL HISTORY|,FAMILY HISTORY
  label: COMPLICATIONS|Complications,LAB RESULTS|Lab Results,TREATMENT|Treatment,VITALS|Vitals,OUTCOMES|Outcomes,HIV STATUS|HIV Status,CLINIC VISIT|Clinic Visit,SOCIAL HISTORY|Social History,GENERAL HEALTH|General Health,ASSESSMENT|Assessment,MEDICAL HISTORY|Medical History, FAMILY HISTORY|Family History

development:
label.encounter.map: COMPLICATIONS|COMPLICATIONS,UPDATE HIV STATUS|UPDATE HIV STATUS,LAB RESULTS|LAB RESULTS,UPDATE OUTCOME|UPDATE OUTCOME,TREATMENT|TREATMENT,VITALS|VITALS,CLINIC VISIT|DIABETES HYPERTENSION INITIAL VISIT,SOCIAL HISTORY|SOCIAL HISTORY,GENERAL HEALTH|GENERAL HEALTH,ASSESSMENT|ASSESSMENT,MEDICAL HISTORY|MEDICAL HISTORY,FAMILY HISTORY|FAMILY MEDICAL HISTORY
  clinical.encounters.sequential.list: CLINIC VISIT,VITALS,FAMILY HISTORY,SOCIAL HISTORY,GENERAL HEALTH,UPDATE HIV STATUS,LAB RESULTS,COMPLICATIONS,TREATMENT,ASSESSMENT,MEDICAL HISTORY,UPDATE OUTCOME
  clinical.encounters.display.list: COMPLICATIONS;UPDATE HIV STATUS;LAB RESULTS;UPDATE OUTCOME;TREATMENT;VITALS;CLINIC VISIT;SOCIAL HISTORY;GENERAL HEALTH;ASSESSMENT;MEDICAL HISTORY;FAMILY HISTORY
  scope: COMPLICATIONS|RECENT,UPDATE HIV STATUS|RECENT,LAB RESULTS|TODAY,UPDATE OUTCOME|TODAY,TREATMENT|TODAY,VITALS|TODAY,CLINIC VISIT|CURRENT PROGRAM,SOCIAL HISTORY|CURRENT PROGRAM,GENERAL HEALTH|TODAY,ASSESSMENT|TODAY,MEDICAL HISTORY|TODAY,ASTHMA MEASURE|EXISTS,FAMILY HISTORY|TODAY
  label: COMPLICATIONS|Complications,LAB RESULTS|Lab Results,TREATMENT|Treatment,VITALS|Vitals,UPDATE OUTCOME|UPDATE OUTCOME,UPDATE HIV STATUS|HIV Status,CLINIC VISIT|Clinic Visit,SOCIAL HISTORY|Social History,GENERAL HEALTH|General Health,ASSESSMENT|Assessment,MEDICAL HISTORY|Medical History, FAMILY HISTORY|Family History


test: &TEST
  clinical.encounters.sequential.list: COMPLICATIONS,HIV STATUS,LAB RESULTS,OUTCOMES,TREATMENT,VITALS,CLINIC VISIT,SOCIAL HISTORY,GENERAL HEALTH,ASSESSMENT,MEDICAL HISTORY,FAMILY HISTORY
  clinical.encounters.display.list: COMPLICATIONS;HIV STATUS;LAB RESULTS;OUTCOMES;TREATMENT;VITALS;CLINIC VISIT;SOCIAL HISTORY;GENERAL HEALTH;ASSESSMENT;MEDICAL HISTORY:ASTHMA MEASURE:FAMILY HISTORY
  scope: VITALS|,LAB RESULTS|,TREATMENT|,COMPLICATIONS|,OUTCOMES|,HIV STATUS|,CLINIC VISIT|,SOCIAL HISTORY|,GENERAL HEALTH|,ASSESSMENT|,MEDICAL HISTORY|,FAMILY HISTORY
  label: COMPLICATIONS|Complications,LAB RESULTS|Lab Results,TREATMENT|Treatment,VITALS|Vitals,OUTCOMES|Outcomes,HIV STATUS|HIV Status,CLINIC VISIT|Clinic Visit,SOCIAL HISTORY|Social History,GENERAL HEALTH|General Health,ASSESSMENT|Assessment,MEDICAL HISTORY|Medical History, FAMILY HISTORY|Family History
