
production:
  clinical.encounters.sequential.list: NOTES,RAPID ANTIBODY TEST,EID VISIT,ENROLLMENT STATUS,PMTCT HISTORY,DNA PCR TEST
  scope: PMTCT HISTORY|,NOTES|,DNA PCR TEST|,ENROLLMENT STATUS|,EID VISIT|,RAPID ANTIBODY TEST|
  label: ENROLLMENT STATUS|Enrollment Status

development:
  clinical.encounters.sequential.list: NOTES,RAPID ANTIBODY TEST,EID VISIT,ENROLLMENT STATUS,PMTCT HISTORY,DNA PCR TEST
  scope: PMTCT HISTORY|,NOTES|,DNA PCR TEST|,ENROLLMENT STATUS|,EID VISIT|,RAPID ANTIBODY TEST|
  label: ENROLLMENT STATUS|Enrollment Status

test: &TEST
  clinical.encounters.sequential.list: NOTES,RAPID ANTIBODY TEST,EID VISIT,ENROLLMENT STATUS,PMTCT HISTORY,DNA PCR TEST
  scope: PMTCT HISTORY|,NOTES|,DNA PCR TEST|,ENROLLMENT STATUS|,EID VISIT|,RAPID ANTIBODY TEST|
  label: ENROLLMENT STATUS|Enrollment Status

