
production:
  clinical.encounters.sequential.list: COMPLICATIONS,HIV STATUS,LAB RESULTS,OUTCOMES,TREATMENT,VITALS,CLINIC VISIT,SOCIAL HISTORY,GENERAL HEALTH,ASSESSMENT,MEDICAL HISTORY,ASTHMA MEASURE,FAMILY HISTORY
  clinical.encounters.display.list: COMPLICATIONS;HIV STATUS;LAB RESULTS;OUTCOMES;TREATMENT;VITALS;CLINIC VISIT;SOCIAL HISTORY;GENERAL HEALTH;ASSESSMENT;MEDICAL HISTORY:ASTHMA MEASURE:FAMILY HISTORY
  scope: VITALS|,LAB RESULTS|,TREATMENT|,COMPLICATIONS|,OUTCOMES|,HIV STATUS|,CLINIC VISIT|,SOCIAL HISTORY|,GENERAL HEALTH|,ASSESSMENT|,MEDICAL HISTORY|,ASTHMA MEASURE|,FAMILY HISTORY
  label: COMPLICATIONS|Complications,LAB RESULTS|Lab Results,TREATMENT|Treatment,VITALS|Vitals,OUTCOMES|Outcomes,HIV STATUS|HIV Status,CLINIC VISIT|Clinic Visit,SOCIAL HISTORY|Social History,GENERAL HEALTH|General Health,ASSESSMENT|Assessment,MEDICAL HISTORY|Medical History,ASTHMA MEASURE|Asthma Measure, FAMILY HISTORY|Family History

development:
  label.encounter.map: COMPLICATIONS|COMPLICATIONS,UPDATE HIV STATUS|UPDATE HIV STATUS,LAB RESULTS|LAB RESULTS,UPDATE OUTCOME|UPDATE OUTCOME,TREATMENT|TREATMENT,VITALS|VITALS,CLINIC VISIT|CLINIC VISIT,SOCIAL HISTORY|SOCIAL HISTORY,GENERAL HEALTH|GENERAL HEALTH,ASSESSMENT|ASSESSMENT,MEDICAL HISTORY|MEDICAL HISTORY,ASTHMA MEASURE|ASTHMA MEASURE,FAMILY HISTORY|FAMILY HISTORY
  clinical.encounters.sequential.list: COMPLICATIONS,UPDATE HIV STATUS,LAB RESULTS,UPDATE OUTCOME,TREATMENT,VITALS,CLINIC VISIT,SOCIAL HISTORY,GENERAL HEALTH,ASSESSMENT,MEDICAL HISTORY,ASTHMA MEASURE,FAMILY HISTORY
  clinical.encounters.display.list: COMPLICATIONS;UPDATE HIV STATUS;LAB RESULTS;UPDATE OUTCOME;TREATMENT;VITALS;CLINIC VISIT;SOCIAL HISTORY;GENERAL HEALTH;ASSESSMENT;MEDICAL HISTORY:ASTHMA MEASURE:FAMILY HISTORY
  scope: COMPLICATIONS|RECENT,UPDATE HIV STATUS|RECENT,LAB RESULTS|TODAY,UPDATE OUTCOME|TODAY,TREATMENT|TODAY,VITALS|TODAY,CLINIC VISIT|TODAY,SOCIAL HISTORY|TODAY,GENERAL HEALTH|TODAY,ASSESSMENT|TODAY,MEDICAL HISTORY|TODAY,ASTHMA MEASURE|TODAY,FAMILY HISTORY|TODAY
  label: COMPLICATIONS|Complications,LAB RESULTS|Lab Results,TREATMENT|Treatment,VITALS|Vitals,UPDATE OUTCOME|UPDATE OUTCOME,UPDATE HIV STATUS|HIV Status,CLINIC VISIT|Clinic Visit,SOCIAL HISTORY|Social History,GENERAL HEALTH|General Health,ASSESSMENT|Assessment,MEDICAL HISTORY|Medical History,ASTHMA MEASURE|Asthma Measure, FAMILY HISTORY|Family History

test: &TEST
  clinical.encounters.sequential.list: COMPLICATIONS,HIV STATUS,LAB RESULTS,OUTCOMES,TREATMENT,VITALS,CLINIC VISIT,SOCIAL HISTORY,GENERAL HEALTH,ASSESSMENT,MEDICAL HISTORY,ASTHMA MEASURE,FAMILY HISTORY
  clinical.encounters.display.list: COMPLICATIONS;HIV STATUS;LAB RESULTS;OUTCOMES;TREATMENT;VITALS;CLINIC VISIT;SOCIAL HISTORY;GENERAL HEALTH;ASSESSMENT;MEDICAL HISTORY:ASTHMA MEASURE:FAMILY HISTORY
  scope: VITALS|,LAB RESULTS|,TREATMENT|,COMPLICATIONS|,OUTCOMES|,HIV STATUS|,CLINIC VISIT|,SOCIAL HISTORY|,GENERAL HEALTH|,ASSESSMENT|,MEDICAL HISTORY|,ASTHMA MEASURE|,FAMILY HISTORY
  label: COMPLICATIONS|Complications,LAB RESULTS|Lab Results,TREATMENT|Treatment,VITALS|Vitals,OUTCOMES|Outcomes,HIV STATUS|HIV Status,CLINIC VISIT|Clinic Visit,SOCIAL HISTORY|Social History,GENERAL HEALTH|General Health,ASSESSMENT|Assessment,MEDICAL HISTORY|Medical History,ASTHMA MEASURE|Asthma Measure, FAMILY HISTORY|Family History
