<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>BP Chart</title>
    <style>

      .highcharts-button {
         display: none;
      }

    </style>
		<%= javascript_include_tag "Highcharts/js/jquery.min.js" %>
		<script type="text/javascript">
                <%#= raise @bps.to_yaml %>
		var bps = JSON.parse('<%=@bps%>');

  function getDates() {
    dates = [];
    for(var i = 0; i < bps.length; i++) {
      dates.push(bps[i][1]);
    }
    return dates;
  }


$(function () {
     
        $('#container').highcharts({
            chart: {
                type: 'line',
                className: 'skies',
                borderWidth: 0,
                plotShadow: true,
                backgroundColor: 'lightyellow',
                plotBackgroundColor: {
                   linearGradient: [0, 0, 250, 500],
                   stops: [
                      [0, 'rgba(255, 255, 255, 1)'],
                      [1, 'rgba(255, 255, 255, 0)']
                   ]
                },
                plotBorderWidth: 1
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories:  getDates(),
                title: {
                    text: 'Visit Date'
                }
            },
            yAxis: {
                alternateGridColor: 'rgba(255, 255, 255, .5)',
                lineColor: '#C0D0E0',
                tickColor: '#C0D0E0',
                tickWidth: 1,
                title: {
                    text: 'BP'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            plotOptions: {
               line: {
                dataLabels: {
                    color: "black",
                    enabled: true
                },
                pointPadding: 0.2,
                borderWidth: 0
            }
            },
            series: dataG()
        });
    });

 function dataG() {
      var sbp = [];
      var dbp = [];
      var bp = [];

      for(var i = 0; i < bps.length; i++) {
        sbp.push(bps[i][0]);
        dbp.push(bps[i][2]);
        bp.push(bps[i][3]);
      }
      return [{name: 'Systolic BP', data: sbp},{name: 'Diastolic BP', data: dbp},{name: 'Blood Pressure', data: bp}];
    }
    </script>
  </head>
  <body>

<%= javascript_include_tag "Highcharts/js/highcharts" %>
<%= javascript_include_tag "Highcharts/js/modules/exporting" %>

<div id="container" style="width: 99%; height: 310px; margin: 0 auto">
</div>

<script>
  function removeHighcharts() {
/*    try {
      document.getElementsByClassName('highcharts-button')[0].innerHTML = null;
    }catch(e){}
 */
    tspan = document.getElementsByTagName('tspan');
    for(var i = 0; i < tspan.length; i++){
      if(tspan[i].innerHTML == 'Highcharts.com'){
        tspan[i].innerHTML = null;
        break;
      }
    }

  }

  setInterval("removeHighcharts();",300);
</script>

	</body>
</html>




