<link rel="stylesheet" type="text/css" href="/stylesheets/prescription/application.css" media="screen" />

<div class="report_header">

</div>

<div id="report_content" class="report_content">

</div>

<div id="footer">
  <div id="buttons" class="buttonsDiv" style="">
    <button id="finishButton" class="button navButton green" onclick="window.history.go(-1)"><span>Finish</span></button>
  </div>
</div>