<script>
    var tt_cancel_destination = "/" // /reports"
</script>
<style>
    #tt_page_select_month .options{height:515px;}
</style>

<% form_tag :controller => 'report', :action => @path do %>


    <%= text_field_tag "year", nil,
                       {:helpText => 'Enter Year',
                        :field_type => 'number',
                        :absoluteMin => "1890",
                        :min => "1940",
                        :absoluteMax => Date.today.year,
                        :tt_pageStyleClass => "Numeric NumbersOnly"}  %>

    <%= select_tag "month", month_name_options.gsub('<option value="Unknown">Unknown</option>', ''),
                   {:helpText => 'Select Month',
                    :validationMessage => 'Please enter a valid month',
                    :condition => @durations == 'monthly',
                    :tt_onLoad => "__$('keyboard').style.display = 'none'"}%>


<% end %>